{% extends 'base.html.twig' %}

{% block title %}CourseOffering{% endblock %}

{% block body %}
    <h1>CourseOffering</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course_offering.id }}</td>
            </tr>
            <tr>
                <th>Term</th>
                <td>{{ course_offering.term }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ course_offering.capacity }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ course_offering.status }}</td>
            </tr>
            <tr>
                <th>Academic_year</th>
                <td>{{ course_offering.academicYear }}</td>
            </tr>
            <tr>
                <th>Schedule</th>
                <td>{{ course_offering.schedule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_course_offering_index') }}">back to list</a>

    <a href="{{ path('app_course_offering_edit', {'id': course_offering.id}) }}">edit</a>

    {{ include('course_offering/_delete_form.html.twig') }}
{% endblock %}
